



 

<% @order.item_orders.each do |item_order| %>

<div class="row polaroid" >
        
       <div class="col-md-4">
           <%= link_to image_tag(item_order.item.image.url(:med)), item_order.item.image.url %>
       </div> 
       
       
        <div class="col-md-4">
          <p> <%= item_order.item.name %> </p>
          <p> <%= item_order.item.price %> </p>
          <% if item_order.item.inventory %>
          <p> Quantity in stock: <%= item_order.item.quantity %> </p>
          <% end %>
          <p> order id: <%= @order.id %> store_id: <%= @order.store_id %>  </p>
       </div> 
        
       <div class="col-md-4">
       
           <%= form_for item_order ,  url:store_item_order_path(@store ,item_order ), remote: true, html: {method: "patch"} do |f| %> 
           <%= f.number_field :quantity, value: item_order.quantity, min: 1 ,  max: max_value(item_order.item),  onkeydown:"return false", class:"cartitem"   %>
           <% end %> 
           
           <%= link_to "remove from cart", store_item_order_path(@order.store_id , item_order ), method: :delete %> <br> 
       </div> 
</div>

<script>
    $(document).ready(function(){
        // $(".cartitem").bind('mouseclick', function () {
        //     alert("changed");            
        // });

        $(".cartitem").on("input" , function(e){
             if($(this).data("lastval")!= $(this).val()){
                 $(this).data("lastval",$(this).val());
             //change action
                 $(this).parent().submit(); 
             };
        });
              
    });
    
</script>

<% end %> 
   
   
   
<div class="row polaroid">
    
    
    <br> 
    <h3 id="total"> TOTAL $:  <%= @order.total %> </h3>
       
</div>
         
<div class="row" >

    <div class="col-md-4">
        <%= button_to "cancel order",  store_order_path(@store , @order), method: :delete , :class => "btn btn-primary btn-lg"%>
    </div>
    
    <div class="col-md-4">
         <%=  form_for [@store, Order.new ] do  |f|  %> 
            <%= text_field_tag :email, "", class: 'form-control', :placeholder=>"email" %>
            <%= f.button "confirm order" , :class => "btn btn-primary btn-lg" %>
         <% end  %> 
         
          <!--<  button_to "confirm order",  store_orders_path(@store ), method: :post , :class => "btn btn-primary btn-lg" %>-->
    </div>
   
</div> 